@media only screen and (max-width : 767px) {

    /*----- Default CSS -----*/
    .mtb-100 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .mt-100 {
        margin-top: 50px;
    }
    .mb-100 {
        margin-bottom: 50px;
    }
    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pt-100 {
        padding-top: 50px;
    }
    .pb-70 {
        padding-bottom: 20px;
    }
    .pb-100 {
        padding-bottom: 50px;
    }
    .common-btn {
        padding: 10px 20px;
    }
    .section-title {
        margin-bottom: 30px;

        h2 {
            font-size: 30px;
        }
    }

    /*----- Home Demo One CSS -----*/
    /*-- Header --*/
    .header-area {
        text-align: center;

        .left {
            margin-bottom: 10px;
        }
        .right {
            text-align: center;

            .nav-flag-dropdown {
                .dropdown-menu {
                    transform: translate3d(-50px, 30px, 0px) !important;
                }
            }
        }
    }

    /*-- Navbar --*/
    .side-nav {
        position: absolute;
        right: 65px;
        top: 11px;

        .right {
            padding: 6px 12px;
        }
    }

    /*-- Banner --*/
    .banner-area {
        height: 100%;
        text-align: center;
        padding-top: 150px;
        padding-bottom: 150px;
        
        .banner-shape {
            img {
                &:nth-child(2) {
                    bottom: 0;
                }
                &:nth-child(3) {
                    max-width: 100%;
                    position: relative;
                    margin-bottom: 30px;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
        }
    }
    .banner-content {
        margin-left: auto;
        margin-right: auto;

        h1 {
            font-size: 35px;
            margin-bottom: 15px;
        }
        p {
            font-size: 16px;
        }
    }

    /*-- Mission --*/
    .mission-item {
        text-align: center;

        .bottom {
            padding: 28px 15px 30px;
        }
    }

    /*-- Donate --*/
    .donate-area {
        .donate-shape {
            max-width: 100%;
        }
        .donate-wrap {
            padding: 15px 15px;
            text-align: center;

            .donate-left {
                margin-bottom: 30px;
            }
            .donate-right {
                padding: 25px 15px 25px;
            }
        }
    }

    /*-- Volunteer --*/
    .volunteer-area {
        text-align: center;

        .volunteer-content {
            padding: 50px 15px 45px;
            margin-left: auto;
            margin-right: auto;

            .common-btn {
                display: block;
                margin-bottom: 10px;
            }
            .volunteer-btn {
                margin-left: 0;
                display: block;
            }
            .scroll-span {
                font-size: 30px;
            }
        }
    }

    /*-- About --*/
    .about-area {
        .about-content {
            .section-title {
                text-align: center;
            }
        }
    }

    /*-- Events --*/
    .events-area {
        .events-shape {
            top: -190px;
        }
    }
    .events-inner {
        .main-wrap {
            li {
                &:nth-child(1) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                &:nth-child(2) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-left: 0;
                }
                .link-wrap {
                    margin-top: 10px;

                    li {
                        &:nth-child(2) {
                            margin-left: 10px;
                        }
                        span {
                            font-size: 16px;
                        }
                        h3 {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    .events-item {
        text-align: center;

        .bottom {
            left: 0;
            right: 0;
            padding-left: 15px;
            padding-right: 15px;
            bottom: 15px;

            ul {
                li {

                    &:nth-child(1) {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    &:nth-child(2) {
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin-left: 0;
                    }
                    span {
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }

    /*-- Subscribe --*/
    .subscribe-area {
        text-align: center;

        .subscribe-content {
            h2 {
                font-size: 25px;
            }
        }
        .subscribe-item {
            margin-right: 0;

            .form-control {
                height: 60px;
                margin-bottom: 15px;
            }
            .common-btn {
                position: relative;
                top: 0;
                right: 0;
                display: block;
                width: 100%;
            }
        }
    }

    /*-- Testimonials --*/
    .testimonials-area {
        .section-title {
            margin-bottom: 0;
        }
        .testimonials-item {
            .top {
                padding: 25px 15px 35px;
                margin-left: 15px;
                margin-right: 15px;  

                p {
                    font-size: 18px;
                }
            }
        }
        .content {
            max-width: 100%;
            left: 0;
            right: 0;

            li {
                &:nth-child(1) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-bottom: 15px;
                }
                &:nth-child(2) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-left: 0;
                    text-align: center;
                }
                img {
                    max-width: 90px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .owl-prev {
            width: 60px;
            height: 35px;
            line-height: 35px !important;

            i {
                line-height: 35px;
            }
        }
        .owl-next {
            width: 60px;
            height: 35px;
            line-height: 35px !important;

            i {
                line-height: 35px;
            }
        }
    }

    /*-- Blog --*/
    .blog-item {
        text-align: center;
    }
    .blog-side-item {
        text-align: center;

        .left {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 15px;
        }
        .right {
            flex: 0 0 100%;
            max-width: 100%;
            margin-left: 0;
        }
        ul {
            li {
                margin-right: 10px;
            }
        }
    }

    /*-- Footer --*/
    .footer-item {
        .footer-events {
            .footer-events-inner {
                ul {
                    li {
                        &:nth-child(2) {
                            margin-left: 10px;
                        }
                        span {
                            top: 2px;
                        }
                    }
                }
            }
        }
    }
    .copyright-area {
        margin-top: 20px;
    }

    /*----- Home Demo Two CSS -----*/
    /*-- Banner --*/
    .banner-area-two {
        .banner-slider-item {
            padding-top: 150px;
            padding-bottom: 110px;
            height: 100%;
            text-align: center;
        
            .slider-img {
                img {
                    position: relative;
                    bottom: 0;
                    left: 0;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 300px;
                }
            }
        }
        .banner-shape {
            display: none;
        }
        .banner-content {
            margin-top: 0;
            margin-bottom: 30px;
        }
        .owl-theme .owl-nav.disabled+.owl-dots {
            bottom: 30px;
            text-align: center;
        }
    }

    /*-- About --*/
    .about-area.two {
        .about-shape {
            img {
                max-width: 130px;
            }
        }
        .about-img {
            img {
                &:nth-child(1) {
                    padding-right: 0;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                &:nth-child(2) {
                    max-width: 245px;
                }
            }
        }
    }

    /*-- Election --*/
    .election-area {
        .election-shape {
            img {
                max-width: 100px;

                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 0;
                }
            }
        }
        h2 {
            font-size: 30px;
        }
    }

    /*----- Home Demo Three CSS -----*/
    /*-- Banner --*/
    .banner-area-two.three {
        .banner-slider-item {
            &:after {
                display: none;
            }
            .slider-img {
                img {
                    max-width: 300px;
                }
            }
        }
    }

    /*-- Countdown --*/
    .countdown-area {
        h2 {
            font-size: 20px;
        }
        .coming-inner {
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
            span {
                font-size: 50px;
            }
            p {
                font-size: 17px;
            }
        }
    }

    /*-- About --*/
    .about-area.three {
        .about-img-three {
            padding-left: 0;

            &:before {
                width: 245px;
            }
        }
    }

    /*-- Amount --*/
    .amount-area {
        .amount-item {
            h2 {
                font-size: 40px;
            }
        }
    }

    /*-- Campaign --*/
    .campaign-area {
        .campaign-content {
            .section-title.two {
                text-align: center;
            }
            .inner {
                padding-left: 0;
                text-align: center;

                .icon {
                    position: relative;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 15px;

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    /*----- About CSS -----*/
    .page-title-area {
        height: 355px;

        .title-content {
            margin-top: 20px;

            h2 {
                font-size: 35px;
            }
        }
    }

    /*----- Events CSS -----*/
    .events-area-three {
        .events-heading {
            h2 {
                font-size: 25px;
            }
        }
        .events-item-two {
            margin-bottom: 15px;

            .main-divide {
                li {
                    &:nth-child(1) {
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin-bottom: 15px;
                    }
                    &:nth-child(2) {
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin-left: 0;
                        margin-bottom: 10px;
                    }
                    &:nth-child(3) {
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin-left: 0;
                        text-align: left;
                    }
                    img {
                        width: 100%;
                    }
                    h3 {
                        margin-bottom: 12px;
                    }
                    .inner-divide {
                        li {
                            &:nth-child(1) {
                                flex: 0 0 100%;
                                max-width: 100%;
                            }
                            &:nth-child(2) {
                                flex: 0 0 100%;
                                max-width: 100%;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    /*----- Event Details CSS -----*/
    .event-details-area {
        .details-img {
            text-align: center;
            margin-bottom: 30px;

            h2 {
                font-size: 25px;
            }
        }
    }
    .common-details-content {
        padding: 25px 15px;

        ul {
            li {
                span {
                    position: relative;
                }
                a {
                    position: relative;
                }
            }
        }
    }

    /*----- Blog Details CSS -----*/
    .blog-details-area {
        .details-item {
            margin-bottom: 30px;

            .details-info {
                text-align: center;

                ul {
                    margin-bottom: 5px;

                    li {
                        margin-right: 7px;
                        margin-left: 7px;
                        margin-bottom: 5px;
                    }
                }
                h2 {
                    font-size: 25px;
                }
                blockquote {
                    font-size: 18px;
                    padding: 30px 15px 30px;

                    h3 {
                        text-align: center;
                    }
                }
            }
            .details-tag {
                text-align: center;

                .left {
                    margin-bottom: 10px;

                    ul {
                        li {
                            margin-bottom: 10px;
                        }
                    }
                }
                .right {
                    text-align: center;
                }
            }
            .details-comment {
                ul {
                    li {
                        padding-left: 110px;

                        img {
                            max-width: 85px;
                        }
                        p {
                            margin-bottom: 10px;
                        }
                        a {
                            position: relative;
                            top: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    .widget-area {
        .news {
            ul {
                li {
                    &:nth-child(2) {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    /*----- User Form CSS -----*/
    .user-form-area {
        height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;

        .form-item {
            form {
                h2 {
                    font-size: 35px;
                }
            }
            .user-btn {
                span {
                    &:before {
                        width: 25%;
                    }
                    &:after {
                        width: 25%;
                    }
                }
            }
        }
    }

    /*----- Mission Details CSS -----*/
    .mission-details-area {
        .details-img {
            text-align: center;

            h2 {
                font-size: 25px;
            }
        }
        .details-mission {
            .inner {
                ul {
                    li {
                        &:nth-child(2) {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    /*----- Donation CSS -----*/
    .help-page-area {
        .help-content {
            padding: 30px 15px;
            
            .dollar {
                li {
                    margin-bottom: 8px;

                    a {
                        padding: 8px 15px;
                    }
                }
            }
            .gateway {
                .form-check {
                    margin-right: 15px;
                }
            }
        }
    }

    /*----- Error CSS -----*/
    .error-area {
        .error-content {
            h1 {
                font-size: 75px;
            }
        }
    }

    /*----- Coming Soon -----*/
    .coming-soon-area {
        .soon-item {
            h1 {
                font-size: 35px;
            }
            span {
                font-size: 16px;
            }
        }
    }

    /*----- Rules CSS -----*/
    .rules-area {
        text-align: center;
    }

}

@media only screen and (min-width : 768px) and (max-width : 991px)  {

    /*----- Default CSS -----*/
    .mtb-100 {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .mt-100 {
        margin-top: 70px;
    }
    .mb-100 {
        margin-bottom: 70px;
    }
    .ptb-100 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .pt-100 {
        padding-top: 70px;
    }
    .pb-70 {
        padding-bottom: 40px;
    }
    .pb-100 {
        padding-bottom: 70px;
    }
    .section-title {
        margin-bottom: 30px;

        h2 {
            font-size: 35px;
        }
    }

    /*----- Home Demo One CSS -----*/
    /*-- Header --*/
    .header-area {
        text-align: center;

        .left {
            margin-bottom: 10px;
        }
        .right {
            text-align: center;

            .nav-flag-dropdown {
                .dropdown-menu {
                    transform: translate3d(-50px, 30px, 0px) !important;
                }
            }
        }
    }

    /*-- Navbar --*/
    .side-nav {
        position: absolute;
        right: 65px;
        top: 11px;

        .right {
            padding: 6px 12px;
        }
    }

    /*-- Banner --*/
    .banner-area {
        height: 100%;
        text-align: center;
        padding-top: 150px;
        padding-bottom: 150px;
        
        .banner-shape {
            img {
                &:nth-child(2) {
                    bottom: 0;
                }
                &:nth-child(3) {
                    max-width: 100%;
                    position: relative;
                    margin-bottom: 30px;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
        }
    }
    .banner-content {
        margin-left: auto;
        margin-right: auto;

        h1 {
            font-size: 45px;
            margin-bottom: 15px;
        }
        p {
            font-size: 17px;
        }
    }

    /*-- Mission --*/
    .mission-item {
        text-align: center;

        .bottom {
            padding: 28px 15px 30px;
        }
    }

    /*-- Donate --*/
    .donate-area {
        .donate-shape {
            max-width: 100%;
        }
        .donate-wrap {
            text-align: center;

            .donate-left {
                margin-bottom: 30px;
            }
        }
    }

    /*-- Volunteer --*/
    .volunteer-area {
        text-align: center;
    }

    /*-- About --*/
    .about-area {
        .about-content {
            .section-title {
                text-align: center;
            }
        }
    }

    /*-- Events --*/
    .events-area {
        .events-shape {
            top: -140px;
            max-width: 300px;
        }
    }
    .events-inner {
        .main-wrap {
            li {
                .link-wrap {
                    li {
                        &:nth-child(1) {
                            flex: 0 0 15%;
                            max-width: 15%;
                        }
                    }
                }
            }
        }
    }
    .events-item {
        .bottom {
            ul {
                li {
                    &:nth-child(1) {
                        flex: 0 0 11%;
                        max-width: 11%;
                    }
                }
            }
        }
    }

    /*-- Subscribe --*/
    .subscribe-area {
        text-align: center;
    }

    /*-- Testimonials --*/
    .testimonials-area {
        .section-title {
            margin-bottom: 0;
        }
        .testimonials-item {
            .top {
                p {
                    font-size: 18px;
                }
            }
        }
    }

    /*-- Blog --*/
    .blog-item {
        text-align: center;
    }

    /*-- Footer --*/
    .copyright-area {
        margin-top: 40px;
    }

    /*----- Home Demo Two CSS -----*/
    /*-- Banner --*/
    .banner-area-two {
        .banner-slider-item {
            padding-top: 150px;
            padding-bottom: 110px;
            height: 100%;
            text-align: center;
        
            .slider-img {
                img {
                    position: relative;
                    bottom: 0;
                    left: 0;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .banner-shape {
            display: none;
        }
        .banner-content {
            margin-top: 0;
            margin-bottom: 30px;
        }
        .owl-theme .owl-nav.disabled+.owl-dots {
            bottom: 30px;
            text-align: center;
        }
    }

    /*-- About --*/
    .about-area.two {
        .about-shape {
            img {
                max-width: 130px;
            }
        }
        .about-img {
            img {
                &:nth-child(1) {
                    padding-right: 0;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                &:nth-child(2) {
                    max-width: 524px;
                }
            }
        }
    }

    /*-- Election --*/
    .election-area {
        .election-shape {
            img {
                max-width: 100px;

                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 0;
                }
            }
        }
        h2 {
            font-size: 40px;
        }
    }

    /*-- Events --*/
    .events-inner {
        .main-wrap {
            li {
                .link-wrap {
                    li {
                        &:nth-child(1) {
                            flex: 0 0 14%;
                            max-width: 14%;
                        }
                    }
                }
            }
        }
    }

    /*----- Home Demo Three CSS -----*/
    /*-- Banner --*/
    .banner-area-two.three {
        .banner-slider-item {
            &:after {
                display: none;
            }
        }
    }

    /*-- Countdown --*/
    .countdown-area {
        .coming-inner {
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
        }
    }

    /*-- About --*/
    .about-area.three {
        .about-img-three {
            text-align: center;
            padding-left: 0;
        }
    }

    /*-- Campaign --*/
    .campaign-area {
        .campaign-content {
            .section-title.two {
                text-align: center;
            }
            .inner {
                padding-left: 0;
                text-align: center;

                .icon {
                    position: relative;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 15px;

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    /*-- Amount --*/
    .amount-area {
        .amount-item {
            h2 {
                font-size: 70px;
            }
        }
    }

    /*----- About CSS -----*/
    .page-title-area {
        height: 450px;

        .title-content {
            margin-top: 10px;

            h2 {
                font-size: 40px;
            }
        }
    }

    /*----- Events CSS -----*/
    .events-area-three {
        .events-item-two {
            .main-divide {
                li {
                    h3 {
                        font-size: 18px;
                    }
                    .common-btn {
                        width: 165px;
                    }
                }
            }
        }
    }

    /*----- Event Details CSS -----*/
    .event-details-area {
        .details-img {
            text-align: center;
        }
    }

    /*----- Blog Details CSS -----*/
    .blog-details-area {
        .details-item {
            margin-bottom: 30px;

            .details-info {
                text-align: center;

                ul {
                    margin-bottom: 5px;

                    li {
                        margin-right: 7px;
                        margin-left: 7px;
                        margin-bottom: 5px;
                    }
                }
                blockquote {
                    font-size: 18px;
                    padding: 30px 15px 30px;

                    h3 {
                        text-align: center;
                    }
                }
            }
        }
    }

    /*----- User Form CSS -----*/
    .user-form-area {
        height: 100%;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    /*----- Mission Details CSS -----*/
    .mission-details-area {
        .details-img {
            text-align: center;
        }
    }

    /*----- Donation CSS -----*/
    .help-page-area {
        .help-content {
            .dollar {
                li {
                    margin-bottom: 8px;
                }
            }
        }
    }

    /*----- Coming Soon -----*/
    .coming-soon-area {
        .soon-item {
            h1 {
                font-size: 70px;
            }
        }
    }

    /*----- Rules CSS -----*/
    .rules-area {
        text-align: center;
    }

}

@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .header-area {
        .right {
            .nav-flag-dropdown {
                .dropdown-menu {
                    transform: translate3d(-45px, 30px, 0px) !important;
                }
            }
        }
    }
    .mission-item {
        .bottom {
            padding: 28px 15px 30px;

            h3 {
                font-size: 18px;
            }
        }
    }
    .events-inner {
        .main-wrap {
            li {
                &:nth-child(1) {
                    flex: 0 0 32%;
                    max-width: 32%;
                }
                &:nth-child(2) {
                    margin-left: 10px;
                    flex: 0 0 55%;
                    max-width: 55%;
                }
                .link-wrap {
                    li {
                        h3 {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    .blog-side-item {
        h3 {
            font-size: 18px;
        }
    }
    .footer-item {
        .footer-logo {
            padding: 30px 15px 30px;
        }
        .footer-events {
            .footer-events-inner {
                ul {
                    li {
                        &:nth-child(2) {
                            margin-left: 10px;
                        }
                        span {
                            top: 3px;
                        }
                    }
                }
            }
        }
    }
    .common-details-content {
        padding: 40px 5px;
    }
    .banner-area-two {
        .banner-content {
            max-width: 730px;

            h1 {
                font-size: 55px;
            }
        }
        .banner-slider-item {
            .slider-img {
                img {
                    right: 5px;
                    max-width: 385px;
                }
            }
        }
        .owl-theme .owl-nav.disabled + .owl-dots {
            max-width: 935px;
        }
    }
    .banner-area-two.three {
        .banner-slider-item {
            .banner-content {
                max-width: 660px;
            }
            .slider-img {
                img {
                    max-width: 315px;
                    right: 0;
                }
            }
        }
    }
    .about-area.two {
        .about-shape {
            img {
                max-width: 95px;
            }
        }
    }
    .election-area {
        .election-shape {
            img {
                max-width: 125px;

                &:nth-child(1) {
                    top: 10px;
                }
                &:nth-child(2) {
                    top: 175px;
                }
            }
        }
    }

}


@media only screen and (min-width: 1800px) {

    .banner-area-two {
        .owl-theme .owl-nav.disabled + .owl-dots {
            max-width: 1115px;
        }
        .banner-slider-item {
            .slider-img {
                img {
                    max-width: 585px;
                }
            }
        }
    }
    .banner-area-two.three {
        .banner-slider-item {
            .slider-img {
                img {
                    max-width: 605px;
                }
            }
        }
    }


}

@media only screen and (max-width: 991px) {

    .mean-container {
        .mean-bar {
            background-color: #fff;
        }
        a.meanmenu-reveal {
            color: #2A2A2A;

            span {
                margin-top: 30px;
                position: relative;
                top: -10px;
                background: #2A2A2A;
                height: 5px;
                border-radius: 0;
            }
        }
    }
    .mobile-nav {
        .logo {
            top: 3px;
            max-width: 60px;
        }
    }
    .mobile-nav.mean-container .mean-nav ul li a.active {
        color: #F00041;
    }
    .navbar-nav {
        height: 320px;
        overflow-y: scroll;
    }

}